@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;

  .Contact__Div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .Contact {
    padding-top: 20px;
    padding-bottom: 75px;
    .Contact__H1 {
      color: #211c28;
      text-align: center;
      margin-top: 15px;
    }
    .MuiSvgIcon-root {
      color: #211c28;
    }
    .Contact__CallParagraph {
      color: #a0a8b6;
      font-weight: 500;
      text-align: center;
      margin-bottom: 50px;
    }
    .Contact__Phone {
      display: flex;
      align-items: center;
      margin-left: 35px;
      p {
        font-size: 20px;
        font-weight: 600;
        margin-left: 5px;
        color: #211c28;
      }
    }
    .Contact__Email {
      display: flex;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 600;
        margin-left: 5px;
        color: #211c28;
      }
    }
  }

  .About {
    padding-top: 20px;
    padding: 50px;
    p {
      margin: 20px 0;
      line-height: 28px;
      font-weight: 400;
    }
    img {
      border-radius: 10px;
    }
    .About__H1 {
      color: #211c28;
      text-align: center;
      margin-top: 20px;
    }
    .About__paragraph {
      color: #a0a8b6;
      font-weight: 500;
      text-align: center;
      margin-bottom: 60px;
      margin-top: 5px;
      font-size: 17px;
    }
    .About__ImageDv {
      max-width: 750px;
      img {
        width: 100%;
      }
    }
  }

  .Projects {
    padding-top: 50px;
    .Projects__Title {
      text-align: center;
    }

    .Projects__Paragraph {
      text-align: center;
      margin-bottom: 50px;
      font-weight: 500;
      color: #a0a8b6;
    }
    .Project__Buttons {
      margin-top: 30px;
      display: flex;
      button {
        width: 100%;
        padding: 9px;
      }
      .MuiSvgIcon-root {
        margin-left: 10px !important;
      }

      .Project__WebsiteButton {
        background: #e44744;
        font-weight: 500;
        color: #fff;
        border: 2px solid transparent;
      }

      .Project__WebsiteButton:hover {
        border: 2px solid #e44744 !important;
        color: #e44744 !important;
        background: #fff;
      }

      .Project__GitHubButton {
        background: #fff;
        font-weight: 500;
        color: #e44744;
        border: 2px solid #e44744;
        margin-left: 30px;
      }

      .Project__GitHubButton:hover {
        border: 2px solid #fff !important;
        color: #fff !important;
        background: #e44744;
      }
    }
    h2 {
      font-size: 18px;
      margin-top: 20px;
      font-weight: 600;
      color: #211c28;
    }
    h1 {
      color: #211c28;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    p {
      color: #211c28;
      font-weight: 500;
      line-height: 30px;
    }
    .Project__Image {
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
  }
  .Skills {
    width: 100%;
    padding-top: 30px;
    padding: 50px;
    h1 {
      text-align: center;
      font-size: 2.5rem;
      color: #211c28;
    }

    .Skills__ToolsH1 {
      margin-top: 50px;
    }

    .Skills__Languages {
      text-align: center;
      color: #a0a8b6;
      font-weight: 500;
    }

    .Skills__:last-child {
      margin-bottom: 150px;
    }
    .Skills__ {
      margin-top: 50px;
      width: 100%;
      padding: 20px;

      h1 {
        text-align: center;
        width: 100%;
      }

      .SkillComponent {
        .cls-1 {
          fill: #fff;
        }
        .a {
          fill: #68217a;
        }
        .cls-2 {
          fill: #007acc;
        }
        .st0 {
          fill: #1fa6ca;
        }
        .st1 {
          fill: #1c7fb6;
        }
        .cls-51 {
          fill: #cb3837;
        }
        .devicon-typescript-plain {
          font-size: 100px;
          color: #007acc;
        }

        .SkillComponent__ChildrenDiv {
          font-size: 100px !important;
          display: flex;
          flex-direction: column;
          height: 150px;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          color: #211c28;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }

  .Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Dashboard__ButtonSelectors {
      padding: 15px;
      width: 100%;
      max-width: 1000px;
      display: flex;
      button {
        color: #211c28;
        font-weight: 600;
        width: 100%;
        padding: 10px;
        border-radius: 0px !important;
      }
      .Dashboard__Contact {
        margin-left: 50px;
      }
      .Dashboard__ButtonSkills {
        margin: 0 50px;
      }
    }
  }

  nav {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      cursor: pointer;
      transition: 300ms ease;
    }
    h1:hover {
      color: #e44744;
    }
    .MuiButton-root {
      min-width: fit-content;
      padding: 10px !important;
      margin: 0 10px;
      border-radius: 50px;
      .MuiSvgIcon-root {
        font-size: 1.75rem;
      }
    }
  }

  .Header {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    .Header__InformationName {
      text-align: center;
      max-width: 750px;

      .Header__InformationName_Buttons {
        display: flex;
        margin-top: 15px;
        .Header__GitHubButton {
          color: #fff !important;
          background: #e44744;
          font-weight: 600;
          border: 2px solid #fff;
          margin-right: 10px;
          .MuiSvgIcon-root {
            margin-left: 5px;
          }
        }

        .Header__GitHubButton:hover {
          background: #fff !important;
          border: 2px solid #e44744 !important;
          color: #e44744 !important;
        }

        button {
          width: 100%;
          padding: 9px;
          text-transform: capitalize;
        }

        .Header__DownloadResume {
          color: #e44744 !important;
          background: #fff;
          border: 2px solid #e44744;
          font-weight: 600;
          margin-left: 10px;
          .MuiSvgIcon-root {
            margin-left: 5px;
          }
        }

        .Header__DownloadResume:hover {
          background: #e44744 !important;
          border: 2px solid #e44744 !important;
          color: #fff !important;
        }
      }

      img {
        border-radius: 50%;
      }
      .Header__Junior {
        color: #211c28;
        font-weight: 700;
        margin-top: 25px;
        text-align: left;
        font-size: 1.5rem;
      }
      h1 {
        color: #e44744;
        font-size: 3.5rem;
        letter-spacing: 2px;
        margin-top: -7px;
      }
      .Header__paragraph {
        color: #a0a8b6;
        line-height: 35px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .Header__InformationName {
    margin: 0px 50px;
    .Header__TextH1 {
      max-width: 500px;
      margin: 0 auto;
    }
    .Header__Junior {
      margin-left: 5px;
      margin-bottom: 5px;
    }
    h1 {
      font-size: 2.2rem !important;
    }
  }
}

@media screen and (max-width: 600px) {
  nav {
    h1 {
      font-size: 15px !important;
    }
    .NavigationBar__SocialMediaButtons {
      display: none;
    }
  }
  .Header {
    padding: 30px 0px !important;
    .Header__TextH1 {
      max-width: 500px;
      h1 {
        font-size: 1.7rem !important;
        margin-top: 15px !important;
        margin-bottom: 5px !important;
      }
    }
    .Header__Junior {
      margin-left: 20px;
      text-align: left !important;
      display: none !important;
    }
    .Header__paragraph {
      font-size: 13px;
    }
    .Header__InformationName_Buttons {
      flex-direction: column;
      .Header__DownloadResume {
        margin-left: 0px !important;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .Dashboard {
    .Dashboard__ButtonSelectors {
      flex-direction: column;
      button {
        margin: 10px 0 !important;
      }
      .Dashboard__ButtonSkills {
        margin-left: 0px !important;
      }
      .Dashboard__Contact {
        margin-left: 0px !important;
      }
    }
  }
  .Contact__Div {
    .Contact__Phone {
      margin-top: 15px;
    }

    p {
      font-size: 16px !important;
    }
  }
}
